<!DOCTYPE html>
<html>
<head lang="en">
    <script src="{{ url_for('static', filename='jquery-1.11.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='handsontable.full.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.csv-0.71.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='handsontable.full.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='flat-table.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mainpage.css') }}">
    <meta charset="UTF-8">
    <title></title>
    {% block header %} {% endblock header %}
</head>
<body>
<div id="page">
    <div id="intro">
        <h1>fivemin</h1>
        <p id="intro-instructions">Enter experimental conditions into table.</p>
    </div>

    <div id="content"> {% block input %} content {% endblock input %}</div>

    <div id="layout"> {% block layout %} layout {% endblock layout %}</div>


</div>

</body>
</html>