#input
{
	margin: 0 auto;
	width: 500px;
}
table.dataframe tr th
{
	border-collapse: collapse;
	padding: 4px;
	text-align: center;
}
table.dataframe
{
	border-collapse: collapse;
}
table.dataframe td
{
	text-align: center;
}
.htContextMenu
{
	color: black;
}

ol.instruction
{
	counter-reset: my-counter;
}
ol.instruction > li:before
{
	position: relative;
	counter-increment: my-counter;
	content: counter(my-counter);
	position: absolute;
	left: 0;
	top: 0;
	font: bold 50px helvetica;
}
body
{
	font-family: verdana;
	color: #EFE7D2;
}
ol.instruction
{
	font-family: georgia;
	display: block;
	list-style-type: none;
}
table.instruction-table tbody tr[component="-1"]
{
	color: #238DDA;
}
.instruction-table tbody tr[component="0"]
{
	color: #92A0A1;
	font-weight: bold;
}
table.instruction-table tbody tr[component="1"]
{
	color: #889600;
}
.plate th[component="1"]
{
	color: #889600;
}
.plate tr[component="1"]
{
	color: #889600;
}
.instruction-table tbody tr[component="2"]
{
	color: #B88900;
}
.plate th[component="2"]
{
	color: #B88900;
}
.plate tr[component="2"]
{
	color: #B88900;
}
table.instruction-table tbody tr[component="3"]
{
	color: #F47621;
}
.plate th[component="3"]
{
	color: #F47621;
}
.plate tr[component="3"]
{
	color: #F47621;
}
table.instruction-table tbody tr[component="4"]
{
	color: #DD401D;
}
.plate th[component="4"]
{
	color: #DD401D;
}
.plate tr[component="4"]
{
	color: #DD401D;
}
.plate table
{
	border-collapse: collapse;
	text-align: center;
}
.plate th
{
	padding: 2px 5px;
	text-align: center;
}
.instruction-table
{
	display: block;
	border-collapse: collapse;
	font-family: verdana;
	font-size: 13px;
	text-align: center;
}
table.instruction-table thead th
{
	padding: 2px 3px;
	border-top: 0px;
	border-bottom: 0px;
}
.instruction-table td
{
	padding: 0 2px;
	border-top: 0px;
	border-bottom: 0px;
}
table.instruction-table tbody th
{
	padding: 2px 5px;
	border-style: hidden;
}
.instruction-table th[location="top-left"]
{
	border: 0;
	border-style: hidden;
}
.plate th[location="top-left"]
{
	border-top: 0px;
	border-left: 0px;
}
.instruction-table th[location="right"]
{
	border-right: 0px;
}
.instruction-table td[location="right"]
{
	border-right: 0px;
}
.plate td
{
	background: #576E76;
}
#intro
{
	text-align: center;
	font-family: verdana;
}
#layout
{
	margin: 0 auto;
	width: 800px;
}
.htContainer
{
	margin: 0 auto;
	width: 400px;
}
div#input_table.handsontable
{
	color: black;
}
span.split-volume
{
	color: gold;
}
.plate
{
	margin: 0 auto;
	width: 75%;
	text-align: center;
	padding-top: 16px;
}
table
{
	border: 0px;
}
li.instruction
{
	font-weight: normal;
	margin-top: 25px;
	position: relative;
	padding: 0 0 0 40px;
}
p.instruction
{
	margin: 5px;
}
p#intro-instructions
{
	font-family: georgia;
}
body
{
	background: #0A3744;
}
