{% extends "index.html" %}

{% block header %}
<script>
var hot;
$(document).ready(function () {

    var data = $.ajax({type: "GET", url: "static/default_experiment.csv", async: false}).responseText;
    data = $.csv.toArrays(data);
    var container = document.getElementById('input_table');


  window.hot = new Handsontable(container, {
    data: data,
    minSpareRows: 1,
    colHeaders: true,
    contextMenu: true,
    afterChange: function (change, source) {
        if (source=='loadData') {return}
        $.ajax({
        type: "POST",
        url: "signup",
            contentType: 'application/json;charset=UTF-8',
        data: JSON.stringify({
            data: window.hot.getData(),
            volume: document.getElementById('reaction_volume').value
        }),
        success: function(result, status) {$("#layout").html(result)}
        })
    }
  });

});
</script>
{% endblock header %}

{% block input %}
<div id="input">
<div id="input_table" class="handsontable"> </div>
<div id="input_volume">
    <form>
        <br>
        Reaction volume (uL):
        <input type="text" id="reaction_volume" value="10">
    </form>
</div>
</div>
{% endblock input %}
